@font-face {
  font-family: Gordita;
  src: url(fonts/Gordita-Font/Gordita-Font/Gordita-Bold.otf);
}

.container{
  width:300px;
  border-radius:17px;
  box-shadow:4px 4px 30px rgba(0,0,0.2);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  padding:10px;
  gap:5px;
  background-color:#111112;
}

.header{
  flex:1;
  width:100%;
  border:2px dashed #1ed760;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor: pointer;
}
.header svg{height:100px;}
.header p{text-align:center;color:#111112;}

.footer{
  background-color:#111112;
  width:100%;
  height:40px;
  padding:8px;
  border-radius:10px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  color:#1ed760;
  border:none;
}
.footer svg{
  height:130%;
  fill:#1ed760;
  background:#f0f0f0;
  border-radius:50%;
  padding:2px;
  box-shadow:0 2px 30px #111112;
}
.footer p{flex:1;text-align:center;}
.file-list{flex:1;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:.9rem;}

#file{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.header p {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #1ed760;
  font-family: 'Gordita', sans-serif;
}

.header svg path {
  stroke: #1ed760;
}
